html * {
	font-family: "Lobster", cursive;
}

body{
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/773677/stripes.png");
  text-align:center;
}


h1{
  color: #8DCFE3;
}

li{
  color: #8DCFE3;
}
input {
	margin-bottom:20px;
}
